<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventRegistrationSDKURL</key>
	<string>https://k12questions.tllms.com/event-registration/staging/manifest.json</string>
	<key>New item</key>
	<string></string>
	<key>baseURL</key>
	<string>https://staging.tllms.com/elearn/api/v4</string>
	<key>widgetBaseURL</key>
	<string>https://widget.stage.tllms.com/api/v1</string>
	<key>slapiBaseURL</key>
	<string>https://slapi-staging.tllms.com</string>
	<key>serviceSchoolURL</key>
	<string>https://hangout.betas.in</string>
	<key>chatURL</key>
	<string>http://cdn.livechatinc.com/app/mobile/urls.json</string>
	<key>iTunesReceiptVerificationURL</key>
	<string>https://buy.itunes.apple.com/verifyReceipt</string>
	<key>S3URLForSpecials</key>
	<string>https://s3-ap-southeast-1.amazonaws.com/specadel-public/marketing/production/api</string>
	<key>olapURL</key>
	<string>http://stats.byjus.com/stats.</string>
	<key>graphAPIURL</key>
	<string>https://api.tllms.com/staging/graph/v1/contacts/sync</string>
	<key>olapCounterExtension</key>
	<string>counterstage</string>
	<key>olapUserExtension</key>
	<string>userstage</string>
	<key>olapPaymentExtension</key>
	<string>paymentstage</string>
	<key>olapSessionExtension</key>
	<string>sessionstage</string>
	<key>olapAppID</key>
	<string>102</string>
	<key>firebaseURL</key>
	<string>https://byjus-stage.firebaseio.com/</string>
	<key>testBaseURL</key>
	<string>https://s3-ap-southeast-1.amazonaws.com/tnl-public/assessment_bundles/staging/v2</string>
	<key>dsslURL</key>
	<string>https://stage-nie-result.byjus.com</string>
	<key>homeDemoURL</key>
	<string>https://staging.tllms.com/home_demo_requests/new</string>
	<key>experimentKey</key>
	<string>eyJhbGciOiJIUzI1NiIsImVudiI6ImRldiIsImtpZCI6IjEwMl9pb3NfZGV2XzE0ODAzOTI2NDMiLCJ0eXAiOiJKV1QifQ.eyJhaWQiOiIxMDIiLCJjYXQiOiIxNDgwMzkyNjQzIiwiZW52IjoiZGV2IiwiaWF0IjoxNDgwNDAxMDUyLCJpc3MiOiJCeWp1cy5jb20iLCJwbHQiOiJpb3MifQ.Wr0D0Rkt6BhlkoNIe_55WqTVv_ypa_kxShTM_IPTdxw</string>
	<key>expURL</key>
	<string>https://api.tllms.com/staging/ab/v2/users/%@/batch/experiments/</string>
	<key>parentAppURL</key>
	<string>http://parentapp.byjus.com/VdiO/3lWYVeNUdD</string>
	<key>featureVersion</key>
	<string>quizzo;v=2,cohort;v=2.0</string>
	<key>graphQuizVersion</key>
	<string>2</string>
	<key>appID</key>
	<string>1</string>
	<key>videoShareURL</key>
	<string>https://app.byjus.com/staging_video_share</string>
	<key>journeyShareURL</key>
	<string>https://app.byjus.com/staging_journey_share</string>
	<key>appShareURL</key>
	<string>https://app.byjus.com/app_sharing_test</string>
	<key>badgeShareURL</key>
	<string>https://app.byjus.com/staging_badge_share</string>
	<key>quizzoShareURL</key>
	<string>https://app.byjus.com/qsms_test</string>
	<key>googleShortenerKey</key>
	<string>AIzaSyAPlLkWhqH2xvHW-T_P8LjLd8C1CNtHTwM</string>
	<key>placesAPIURL</key>
	<string>https://api.tllms.com/maps/v1/places</string>
	<key>questionsManifestURL</key>
	<string>https://k12questions.tllms.com/iqlib/staging/manifest.json</string>
	<key>webBundleVersion</key>
	<string>0.0.0</string>
	<key>isStaging</key>
	<true/>
	<key>liveClassShareURL</key>
	<string>https://app.byjus.com/liveClassStaging</string>
	<key>webinarURL</key>
	<string>https://d2e94flx6mjul2.cloudfront.net/index.html</string>
	<key>expURLV2</key>
	<string>https://api.tllms.com/1/staging/ab/v2/users/%@/batch/experiments/</string>
	<key>abTestingKey</key>
	<string>4f50c6b8-df43-4a1b-8de2-fb79ff48b214</string>
	<key>premiumSchoolBaseURL</key>
	<string>https://api-stage.tllms.com/staging/tutor_plus</string>
	<key>agoraAppId</key>
	<string>35b75337d2e044a7970dd15999dfaddb</string>
	<key>agoraWhiteboardAppId</key>
	<string>ZZv0QNTpEeutEP2kJR5ySw/AWvjOXk7OMMWjg</string>
	<key>premiumSchoolChatURL</key>
	<string>https://learn-staging.byjus.com/chat</string>
	<key>neoChatURL</key>
	<string>https://learn-staging.byjus.com/neoChat</string>
	<key>premiumSchoolWebAssignmentURL</key>
	<string>https://staging.tllms.com/assignments</string>
	<key>premiumSchoolFetchChatURL</key>
	<string>https://api.tllms.com/staging/tutor_plus_channel_manager</string>
	<key>byjusClassesCalendarURL</key>
	<string>https://app.byjus.com/EL5Ydk9k18</string>
	<key>byjusLiveQuizCalendarURL</key>
	<string>https://app.byjus.com/livequiz_stage_calendar_reminder</string>
	<key>byjusYoungGeniusURL</key>
	<string>https://static.tllms.com/assets/k12/byg/staging/index.html</string>
	<key>mapSecretKey</key>
	<string>ad0b5e85-dce8-4c7c-8ab7-5e96ffbdc534</string>
	<key>neoPollURL</key>
	<string>https://learn-staging.byjus.com/poll-wrapper</string>
	<key>neoIQURL</key>
	<string>https://learn-staging.byjus.com/neo-webview</string>
	<key>classesBaseURL</key>
	<string>https://staging.tllms.com/elearn/api</string>
	<key>authorizationEndpoint</key>
	<string>https://hydra-auth-staging.tllms.com/oauth2/auth</string>
	<key>tokenEndpoint</key>
	<string>https://hydra-auth-staging.tllms.com/oauth2/token</string>
	<key>clientID</key>
	<string>31b40813-d29d-44fc-9975-b3ba5498010c</string>
	<key>redirectionURL</key>
	<string>com.byjus.auth://oauth2_callback</string>
	<key>identityProfileType</key>
	<string>k12-free</string>
	<key>identityBaseURL</key>
	<string>https://identity-staging.tllms.com/api/</string>
	<key>bfsURL</key>
	<string>https://staging.tllms.com/elearn/api/v4/cohorts/%@/bfs_config/</string>
	<key>sduiBaseUrl</key>
	<string>https://sdui.stage.tllms.com/api</string>
	<key>staticS3ImagesBaseURL</key>
	<string>https://static.tllms.com/ios/stage/btlav3/images/</string>
	<key>textBookBaseURL</key>
	<string>https://dev.byjusweb.com/</string>
	<key>accountDeletionBaseURL</key>
	<string>https://deletion-service.stage.tllms.com/api/v1</string>
	<key>homeworkAssessmentBaseURL</key>
	<string>https://api-stage.tllms.com/staging/blc-assessed/app/api-gateway/api</string>
	<key>classesAppSyncURL</key>
	<string>https://byjus-chat-app-git-staging-biztech-team.vercel.app</string>
	<key>liveQuizAPIURL</key>
	<string>https://stage-apigateway.whjr.one/</string>
	<key>liveQuizWebViewURL</key>
	<string>https://quiz-sdk-git-livequiz-dev.whjr.dev/</string>
	<key>liveQuizSDKTenantId</key>
	<string>633ad3832609d41461f8b39d</string>
	<key>devAutoSolver</key>
	<string>https://dev-qna.byjusweb.com/</string>
	<key>neoBaseURL</key>
	<string>https://api-stage.tllms.com/staging/ttplus_web_v2</string>
	<key>neoWhiteboardChatURL</key>
	<string>https://whiteboard-chat-bpx5e5xyw.whjr.dev/boards/%@?platform=groupbyjus&amp;isTutor=false&amp;isTransparent=true</string>
	<key>liveQuizShareURL</key>
	<string>https://app.byjus.com/livequiz_test</string>
	<key>uploadDocumentBaseUrl</key>
	<string>https://api-stage.tllms.com/staging/blc/sam</string>
	<key>uploadDocumentAuthTocken</key>
	<string>97a89f03-48ce-4b8f-a982-6f214f3ab666</string>
</dict>
</plist>
